<% unless notice.nil? %>
  <div id="notice">
    <h2 class="notice"><%= notice %><h2>
  </div>
<% end %>

<% if @jobs.empty? %>
  <p>
    You don't have any jobs defined.
    <%=
      link_to "Do you want to create a new job?",
        :controller => 'jobs',
        :action => 'new'
    %>
  </p>
<% else %>
  <%= render :partial => 'job', :collection => @jobs.ascending %>
<% end %>
