<span id="actions">
  <ul class="actions">
    <li><%= link_to("edit", edit_job_path(@user), :class => "edit") %></li>
    <li><%= link_to "delete", @user, :method => :delete, :confirm => 'Are you sure?' %></li>
  </ul>
</span>

<h3 class="user name"><%= @user.name %></h3>
<p>
  <span class="description">Email:</span> <%= @user.email %>
</p>
