# How to use:
# email_from will be who any warning emails are sent from,
#   if I get around to wiring up email notification support.
# date_time is the format that will be used to display all
#   DateTime objects throughout Tattletale.

production: &base
  email_from: squeeler@tattletale.info
  # This is the format that DateTime objects will be displayed in.
  # See http://apidock.com/ruby/DateTime/strftime for reference.
  date_time: '%R %F'

development:
  <<: *base

test:
  <<: *base
