/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require_tree .
 */

@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('Chunkfive-webfont.eot');
  src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('Chunkfive-webfont.woff') format('woff'),
       url('Chunkfive-webfont.ttf') format('truetype'),
       url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body{
  background: #ddd !important;
  color: rgba(52, 73, 94, 1.0);  // wet asphalt
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Verdana, "DejaVu Sans", Arial, sans-serif;
  // font-size: 10px;
  // line-height: 12px;
  margin: 2em;
}

#container{
  margin: 0 2em;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
  text-align: left;
}

a {
  color: rgba(52, 73, 94, 1.0) !important;  // wet asphalt
  background: transparent;
  text-decoration: none;
  &:active {
    color: rgba(52, 152, 219, 1.0) !important; // peter river
    background: transparent;
  }
  &:hover {
    color: rgba(41, 128, 185, 1.0) !important; // belize hole
    background: transparent;
  }
}

div#header {
  // border: 1px dashed black;
  margin: 1em 0;

  .logo{
    font-size: 2.50em;
    font-family: "ChunkFiveRegular", "Roboto Condensed", sans-serif;
    font-weight: 400;
  }

  .navigation{
    // border: 1px dashed black;
    float: right;

  }

  // ul{
  //   list-style-type: none;
  //   text-align: right;
  //   float: right;
  //   font-size: 1.50em;
  //   margin: .75em;
  //   padding: 0;

  //   li{
  //     display: inline;
  //     text-align: right;
  //     padding: 0 0.50em;
  //   }
  // }
}

div.job, div.user, div.session {
  text-align: left;

  color: rgba(52, 73, 94,1.0); // wet asphalt
  background-color: rgba(236, 240, 241, 1.0); // clouds

  border: 1px solid rgba(127, 140, 141, 1.0); // asbestos
  border-left: 20px solid rgba(127, 140, 141, 1.0); //asbestos

  margin: 1.2em 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.50em 16px;
}


div#form{
  margin-left: auto;
  margin-right: auto;
}

.small { font-size: 0.85em; }
.x-small { font-size: 0.75em; }
.large { font-size: 1.50em }
.x-large { font-size: 1.75em }

.red { color: #f00; }
.green { color: #0f0; }
.black { color: #000; }

.left { text-align: left !important; }
.right { text-align: right !important; }
