/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('Chunkfive-webfont.eot');
  src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('Chunkfive-webfont.woff') format('woff'),
       url('Chunkfive-webfont.ttf') format('truetype'),
       url('Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body{
  background: #666 url(/assets/bg-grid.png) repeat !important;
  color: #eee;
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 2em;
}

#container{
  margin: 0 2em;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 10px;
}

#container{
  border-left: #fff 2px solid;
  border-right: #fff 2px solid;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#content{
  padding: 1em;
  background: #555 url(/assets/bg-grid_tinted.png) repeat !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#header, #footer{
  border: none;
  background: none;
  color: #000;
  text-align: left;
}

#header{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#footer{
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#footer a, #header a{
  color: #000;
  text-decoration: none;
  &:visited {
    color: #000;
    background: inherit;
  }
  &:hover {
    color: #000;
    background: inherit;
  }
}

div#header ul{
  list-style-type: none;
  text-align: right;
  float: right;
}

div#header ul li{
  display: inline;
  padding: 0 0.50em;
}

div#form{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

form input, form label{
  display: block !important;
  clear: both;
}

form input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

form label {
  display: inline-block;
  padding-top: 5px;
  text-align: left;
  width: 200px;
}

.logo{
  font-size: 2.50em;
  padding: 0 .50em;
  line-height: 1.50em;
  display: inline !important;
  font-family: "ChunkFiveRegular", "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.small { font-size: 0.75em; }
.large { font-size: 1.50em }

.red { color: #f00; }
.green { color: #0f0; }
.black { color: #000; }

.left { text-align: left !important; }
.right { text-align: right !important; }
