// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.job{
  // Default background & formatting is specified at
  // the application layer; make global changes there.

  h2{
    margin: 0;
    clear: none;
    padding: 0.25em 0 0.25em 32px;
    line-height: 1em;
  }
  &.edit h2{ padding: 0.25em 0 0.25em 0; }

  &.show span#actions {
   float: right;
  }

  p.description {
    margin: 2em 0 1em;
  }

  span.description { font-weight: 700; }

  span#actions h3 {
    margin: 0;
    padding: 0;
  }

  span#actions {
    ul.actions {
      list-style-type: none;
      text-align: right;
      margin: 0;
      padding: 0;
    }

    ul.actions li{
      display: inline;
      padding: 0 0.50em;
    }
  }

  &.job_ok h2,
  h2.job_ok {
    background: url(/assets/green.png) no-repeat left center;
  }

  &.job_paused { background: #aaa url(/assets/paused_gradient.jpg) repeat-x top left; }
  &.job_paused h2,
  h2.job_paused {
    background: url(/assets/pause.png) no-repeat left center;
  }

  &.job_pending { background: #aaa url(/assets/grey_gradient.jpg) repeat-x top left; }
  &.job_pending h2,
  h2.job_pending {
    background: url(/assets/grey.png) no-repeat left center;
  }

  &.job_late { background: #aaa url(/assets/red_gradient.jpg) repeat-x top left; }
  &.job_late h2,
  h2.job_late {
    background: url(/assets/red.png) no-repeat left center;
  }

  dl {
    list-style-type: none;
    display: inline-block;
    margin: 0;

    &.meta {
      padding: 0.25em;
      text-transform: lowercase;
    }

    dt {
      display: inline-block;
      margin: 0 0.25em 0 0;
      padding: 0;
    }

    dd {
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    dt.description { font-weight: 700; }

    dd + dt:before{
      content: " | ";
      padding: 0 0.25em;
    }
  }

  span.details {
    display: inline-block;
    float: right;
    font-weight: 700;
  }
}
