// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.job{
  // Default background & formatting is specified at
  // the application layer; make global changes there.

  h2{
    margin: 0;
    clear: none;
    padding: 0.25em 0;
    line-height: 1em;
  }
  &.edit h2{ padding: 0.25em 0 0.25em 0; }

  &.show span#actions {
   float: right;
  }

  p.description {
    margin: 2em 0 1em;
  }

  span.description { font-weight: 700; }

  span#actions h3 {
    margin: 0;
    padding: 0;
  }

  span#actions {
    ul.actions {
      list-style-type: none;
      text-align: right;
      margin: 0;
      padding: 0;
    }

    ul.actions li{
      display: inline;
      padding: 0 0.50em;
    }
  }

  &.job_ok {
    border: 1px solid rgba(39, 174, 96, 1.0);
    border-left: 20px solid rgba(39, 174, 96, 1.0);
  }
  &.job_ok i.icon-ok {
    color: rgba(39, 174, 96, 1.0);
  }

  &.job_paused {
    border: 1px solid rgba(127, 140, 141, 1.0);
    border-left: 20px solid rgba(127, 140, 141, 1.0);
    background-color: rgba(189, 195, 199, 1.0);
  }
  &.job_paused i.icon-paused {
    color: rgba(127, 140, 141,1.0);
  }

  &.job_pending {
    border: 1px solid rgba(44, 62, 80, 1.0);
    border-left: solid 20px rgba(44, 62, 80, 1.0);
  }
  &.job_pending i.icon-pending {
    color: rgba(44, 62, 80, 1.0);
  }

  &.job_late {
    border: 1px solid rgba(192, 57, 43, 1.0);
    border-left: solid 20px rgba(192, 57, 43, 1.0);
  }
  &.job_late i.icon-late {
    color:  rgba(192, 57, 43, 1.0);
  }

  dl {
    list-style-type: none;
    display: inline-block;
    margin: 0;

    &.meta {
      padding: 0.25em;
      text-transform: lowercase;
    }

    dt {
      display: inline-block;
      margin: 0 0.25em 0 0;
      padding: 0;
    }

    dd {
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    dt.description { font-weight: 700; }

    dd + dt:before{
      content: " | ";
      padding: 0 0.25em;
    }
  }

  .details {
    display: inline-block;
    float: right;
    font-size: 1.5em;
  }
}
