// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.service{
  margin: 1em;
  margin-left: auto;
  margin-right: auto;

  width: 500px;
  padding: 1em 16px;
  text-align: left;

  background: #aaa url(/assets/green_gradient.jpg) repeat-x top left;
  background-size: auto 100% !important;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
  -webkit-box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
  box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
  color: #4e504f;
  text-shadow: 0 1px 2px #ddd;
}

div.service h2{
  display: inline;
  clear: none;
  padding: 1em 0 1em 32px;
  line-height: 1em;
}

div.service_true h2 {
  background: url(/assets/green.png) no-repeat left center;
}

div.service_false h2 {
  background: url(/assets/red.png) no-repeat left center;
}

span.edit {
  display: block;
  float: right;
}

span.edit a:active {
  background: transparent;
}

span.edit a:hover {
  background: transparent;
}

span.edit a:visited {
  background: transparent;
}
