// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.service{
  margin: 1em;
  margin-left: auto;
  margin-right: auto;

  width: 500px;
  padding: 0.50em 16px;
  text-align: left;

  background: #aaa url(/assets/green_gradient.jpg) repeat-x top left;
  background-size: auto 100% !important;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
  -webkit-box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
  box-shadow: 0 1px 1px #ddd, 0 -1px 1px #555;
  color: #4e504f;
  text-shadow: 0 1px 2px #ddd;
}

div.service h2{
  margin: 0;
  clear: none;
  padding: 0.25em 0 0.25em 32px;
  line-height: 1em;
}

div.service.show h2{
  padding: 0.25em 0;
}

div.service_not_started, div.service_paused { background: #aaa url(/assets/grey_gradient.jpg) repeat-x top left; }
div.service_not_started h2, div.service_paused h2 {
  background: url(/assets/grey.png) no-repeat left center;
}

div.service_on_time h2 {
  background: url(/assets/green.png) no-repeat left center;
}

div.service_late { background: #aaa url(/assets/red_gradient.jpg) repeat-x top left; }
div.service_late h2 {
  background: url(/assets/red.png) no-repeat left center;
}

span.meta {
  padding: 0.25em;
  display: inline-block;
}

span.edit {
  display: inline-block;
  float: right;
  font-weight: 800;
}

a.edit, a.show {
  color: #4e504f;
  background: transparent;
  text-decoration: none;
  &:active {
    color: #4e504f;
    background: transparent;
  }
  &:hover {
    color: #4e504f;
    background: transparent;
  }
  &:visited {
    color: #4e504f;
    background: transparent;
  }
}
